<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "admin/css/base.css" %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>{% block title %}My Amazing Site{% endblock %}</title>
</head>
<body>
    <div id="sidebar" class="jumbotron">
        {% block sidebar %}
        <ul>
            <li><mark><a href="/">책관리 시스템 홈</a></mark></li>
            <li><a href="/admin/">관리자 페이지</a></li>
        </ul>
        {% endblock %}
        <br>
    </div>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>